In [1]:
import wagen.caltopo_io as cti
import wagen.timeline as tl
import pandas as pd
from pprint import pp
import datetime as dt
from IPython.display import Markdown, HTML
import dataframe_image as dfi

# NewHance

In [2]:
table, seg_df = tl.gen_artifacts('~/Downloads/travelplan.NewHance.csv', 
                                 seg_paces={ 'DEFAULT': 60, 'New Hance': 30, 'Tonto 2': 20, 'up GV': 30},
                                 daylight=12.5, 
                                 adjust='ratio', # adjust = pace|ratio
                                 )

Wrote Excel version of dataframe to ~/Downloads/travelplan.NewHance.xlsx

Trip Segments: ['New Hance', 'Tonto', 'Tonto 2', 'Up W arm', 'West arm option OB', 'GV tr', 'up GV']

Day=1 Segment='New Hance' Distance=5.5
PREDICTED SEGMENT: Pace=30 Hours=2.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   5.5 /  11.2 (49%); (miles)
  Time:      2.75 /  8.50 (32%); (hours) Originaly Predicted

Day=1 Segment='Tonto' Distance=5.7
PREDICTED SEGMENT: Pace=60 Hours=5.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:  11.2 /  11.2 (100%); (miles)
  Time:      8.50 /  8.50 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=2 Segment='Tonto 2' Distance=3.3
PREDICTED SEGMENT: Pace=20 Hours=1.0
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   3.3 /   8.0 (41%); (miles)
  Time:      1.00 /  4.50 (22%); (hours) Originaly Predicted

Day=2 Segment='Up W arm' Distance=0.6
PREDICTED SEGMENT: Pace=60 Hours=0.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   3.9 /   8.0 (49%); (miles)
  Time:      1.75 /  4.50 (39%); (hours) Originaly Predicted

Day=2 Segment='West arm option OB' Distance=0.7
PREDICTED SEGMENT: Pace=60 Hours=0.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   4.6 /   8.0 (57%); (miles)
  Time:      2.25 /  4.50 (50%); (hours) Originaly Predicted

Day=2 Segment='GV tr' Distance=0.9
PREDICTED SEGMENT: Pace=60 Hours=1.0
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   5.5 /   8.0 (69%); (miles)
  Time:      3.25 /  4.50 (72%); (hours) Originaly Predicted

Day=2 Segment='up GV' Distance=2.5
PREDICTED SEGMENT: Pace=30 Hours=1.25
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   8.0 /   8.0 (100%); (miles)
  Time:      4.50 /  4.50 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

# GC-LCR-noraft

In [3]:
noraft_seg_paces = {
    'a Tan dwn': 45, 
    'b Tan2Pal': 30, 
    'c Pal2LCR': 20, # daypack
    'd LCR2Pal': 20, # daypack
    'e Pal2Tan': 30,
    'f Tan up':  60,
}
table, seg_df = tl.gen_artifacts('~/Downloads/travelplan.GC-LCR-noraft.csv', 
                                seg_paces=noraft_seg_paces,
                                daylight=12.5, 
                                adjust='ratio', # adjust = pace|ratio
                                )

Wrote Excel version of dataframe to ~/Downloads/travelplan.GC-LCR-noraft.xlsx

Trip Segments: ['a Tan dwn', 'b Tan2Pal', 'c Pal2LCR', 'd LCR2Pal', 'e Pal2Tan', 'f Tan up']

Day=1 Segment='a Tan dwn' Distance=6.6
PREDICTED SEGMENT: Pace=45 Hours=5.0
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   6.6 /   9.9 (67%); (miles)
  Time:      5.00 /  6.50 (77%); (hours) Originaly Predicted

Day=1 Segment='b Tan2Pal' Distance=3.2
PREDICTED SEGMENT: Pace=30 Hours=1.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   9.9 /   9.9 (100%); (miles)
  Time:      6.50 /  6.50 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=2 Segment='c Pal2LCR' Distance=5.6
PREDICTED SEGMENT: Pace=20 Hours=1.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   5.6 /  14.7 (38%); (miles)
  Time:      1.75 /  5.50 (32%); (hours) Originaly Predicted

Day=2 Segment='d LCR2Pal' Distance=5.6
PREDICTED SEGMENT: Pace=20 Hours=1.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:  11.2 /  14.7 (76%); (miles)
  Time:      3.75 /  5.50 (68%); (hours) Originaly Predicted

Day=2 Segment='e Pal2Tan' Distance=3.5
PREDICTED SEGMENT: Pace=30 Hours=1.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:  14.7 /  14.7 (100%); (miles)
  Time:      5.50 /  5.50 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=3 Segment='f Tan up' Distance=6.8
PREDICTED SEGMENT: Pace=60 Hours=6.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   6.8 /   6.8 (100%); (miles)
  Time:      6.75 /  6.75 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

# GC-LCR-raft

In [4]:
seg_df['segment'].to_list()

['a Tan dwn', 'b Tan2Pal', 'c Pal2LCR', 'd LCR2Pal', 'e Pal2Tan', 'f Tan up']

In [5]:
raft_seg_paces = {
    #'a Tan dwn': 45, 
    #'b Tan2Pal': 30, 
    #'c Pal2LCR': 20, # daypack
    'da RABT 1': 15, # raft without backpack
    'ea RABT 2': 15, # raft with backpack
    #'f Tan up':  60,
}
seg_paces = noraft_seg_paces.copy()
seg_paces.update(raft_seg_paces)

table, seg_df = tl.gen_artifacts('~/Downloads/travelplan.GC-LCR-raft.csv', 
                                    seg_paces=seg_paces,
                                    daylight=12.5, 
                                    adjust='ratio', # adjust = pace|ratio
                                    )

Wrote Excel version of dataframe to ~/Downloads/travelplan.GC-LCR-raft.xlsx

Trip Segments: ['a Tan dwn', 'b Tan2Pal', 'c Pal2LCR', 'da RABT 1', 'ea RABT 2', 'f Tan camp', 'g Tan up']

Day=1 Segment='a Tan dwn' Distance=6.6
PREDICTED SEGMENT: Pace=45 Hours=5.0
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   6.6 /   9.9 (67%); (miles)
  Time:      5.00 /  6.50 (77%); (hours) Originaly Predicted

Day=1 Segment='b Tan2Pal' Distance=3.2
PREDICTED SEGMENT: Pace=30 Hours=1.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   9.9 /   9.9 (100%); (miles)
  Time:      6.50 /  6.50 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=2 Segment='c Pal2LCR' Distance=5.6
PREDICTED SEGMENT: Pace=20 Hours=1.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   5.6 /  13.2 (42%); (miles)
  Time:      1.75 /  4.00 (44%); (hours) Originaly Predicted

Day=2 Segment='da RABT 1' Distance=4.7
PREDICTED SEGMENT: Pace=15 Hours=1.25
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:  10.2 /  13.2 (77%); (miles)
  Time:      3.00 /  4.00 (75%); (hours) Originaly Predicted

Day=2 Segment='ea RABT 2' Distance=2.8
PREDICTED SEGMENT: Pace=15 Hours=0.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:  13.1 /  13.2 (99%); (miles)
  Time:      3.75 /  4.00 (94%); (hours) Originaly Predicted

Day=2 Segment='f Tan camp' Distance=0.2
PREDICTED SEGMENT: Pace=60 Hours=0.25
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:  13.2 /  13.2 (100%); (miles)
  Time:      4.00 /  4.00 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=3 Segment='g Tan up' Distance=6.8
PREDICTED SEGMENT: Pace=60 Hours=6.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   6.8 /   6.8 (100%); (miles)
  Time:      6.75 /  6.75 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

# Escalante

In [6]:
table, seg_df = tl.gen_artifacts('~/Downloads/travelplan.GC-Escalante.csv', 
                                 seg_paces={ 'DEFAULT': 60, 'Tanner': 30, 'd-1b': 20, 'd-2a': 30, 'd-3':60,'TH to Car':20},
                                 daylight=12.5, 
                                 adjust='ratio', # adjust = pace|ratio
                                 )

Wrote Excel version of dataframe to ~/Downloads/travelplan.GC-Escalante.xlsx

Trip Segments: ['Tanner', 'd-1b', 'd-2a', 'd-3', 'TH to Car']

Day=1 Segment='Tanner' Distance=6.9
PREDICTED SEGMENT: Pace=30 Hours=3.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   6.9 /   9.5 (73%); (miles)
  Time:      3.50 /  4.25 (82%); (hours) Originaly Predicted

Day=1 Segment='d-1b' Distance=2.6
PREDICTED SEGMENT: Pace=20 Hours=0.75
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   9.5 /   9.5 (100%); (miles)
  Time:      4.25 /  4.25 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=2 Segment='d-2a' Distance=8.6
PREDICTED SEGMENT: Pace=30 Hours=4.25
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   8.6 /   8.6 (100%); (miles)
  Time:      4.25 /  4.25 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

Day=3 Segment='d-3' Distance=5.5
PREDICTED SEGMENT: Pace=60 Hours=5.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   5.5 /   6.7 (82%); (miles)
  Time:      5.50 /  6.00 (92%); (hours) Originaly Predicted

Day=3 Segment='TH to Car' Distance=1.3
PREDICTED SEGMENT: Pace=20 Hours=0.5
PREDICTED PROGRESS: Start to Here/Day (%)
  Distance:   6.7 /   6.7 (100%); (miles)
  Time:      6.00 /  6.00 (100%); (hours) Originaly Predicted
No table output for LAST SEGEMENT of the day. You are done so there is nothing to predict!

# Scratch pad

In [7]:
print(seg_df['segment'].to_list())

['Tanner', 'd-1b', 'd-2a', 'd-3', 'TH to Car']

In [8]:
seg_df

,day,segment,distance,aeg,ael,break_time,pace,minutes,cs_dist,cs_mins,day_dist,rem_dist,day_mins,rem_mins
segment,,,,,,,,,,,,,,
Tanner,1,Tanner,6.860000,414,-5079,30,30,205.800000,6.860000,205.800000,9.451288,2.591288,257.625758,51.825758
d-1b,1,d-1b,2.591288,192,-236,0,20,51.825758,9.451288,257.625758,9.451288,0.000000,257.625758,0.000000
d-2a,2,d-2a,8.590189,2275,-2371,110,30,257.705682,8.590189,257.705682,8.590189,0.000000,257.705682,0.000000
d-3,3,d-3,5.480000,4706,-272,0,60,328.800000,5.480000,328.800000,6.737992,1.257992,353.959848,25.159848
TH to Car,3,TH to Car,1.257992,135,0,0,20,25.159848,6.737992,353.959848,6.737992,0.000000,353.959848,0.000000

In [9]:
display(HTML('<hr/>'))