In [1]:
import wagen.caltopo_io as cti
import wagen.timeline as tl
import pandas as pd
from pprint import pp
import datetime as dt

# Escalante Route
Down Tanner, up New Hance. Main obstacles are Papago wall (class 3) and Papago slide (i.e. "gully"

## Waypoints

In [7]:
df, trip = cti.travelplan_multi_csv(csvfname='~/Downloads/travelplan.GC-Escalante.csv',
                                    caltopo_predictions=True)
print(trip)
with pd.option_context("display.max_columns", None):
    display(df.round(1))

Wrote Excel version of dataframe to ~/Downloads/travelplan.GC-Escalante.xlsx
{'start_latlon': [36.03252, -111.85212], 'start_elevation': 7350}

,day,segment,waypoint,elevation,aeg,ael,distance,notes,break_time,pace,duration,hours
0,1,Tanner,Start,7350,0,0,0.0,,0,0,0,0.0
1,1,Tanner,picture view points,5217,333,-2466,3.6,,30,42,151,3.0
2,1,Tanner,End,2684,81,-2613,3.3,,0,41,137,2.3
3,1,d-1b,Start,2687,0,0,0.0,,0,0,0,0.0
4,1,d-1b,overlook,2685,68,-70,0.6,Basalt ck riffle,0,24,16,0.3
5,1,d-1b,water,2646,124,-163,1.9,,0,21,41,0.7
6,1,d-1b,camp,2642,0,-3,0.0,day 1,0,0,0,0.0
7,1,d-1b,End,2641,0,0,0.0,,0,0,0,0.0
8,1,d-1b,EOD,2641,0,0,0.0,,0,0,0,0.0
9,2,d-2a,Start,2641,0,0,0.0,,0,0,0,0.0
10,2,d-2a,cliff,3752,1188,-78,2.8,,0,40,113,1.9
11,2,d-2a,water,2615,311,-1447,2.7,,20,39,106,2.1
12,2,d-2a,Seventfive Mile Creek,2838,291,-69,0.8,,0,37,31,0.5
13,2,d-2a,water,2614,29,-252,0.6,,0,32,18,0.3
14,2,d-2a,Papago wall,2650,203,-168,0.8,,30,37,28,1.0
15,2,d-2a,Papago slide,2798,153,-5,0.1,,60,89,10,1.2
16,2,d-2a,water,2591,100,-307,0.7,,0,36,25,0.4
17,2,d-2a,camp,2569,0,-22,0.1,day 2,0,25,2,0.0
18,2,d-2a,End,2546,0,-23,0.1,,0,18,2,0.0
19,2,d-2a,EOD,2546,0,0,0.0,,0,0,0,0.0
20,3,d-3,Start,2591,0,0,0.0,,0,0,0,0.0
21,3,d-3,"water, maybe",3238,648,0,1.6,,0,40,63,1.0
22,3,d-3,End,7024,4058,-272,3.9,,0,71,281,4.7
23,3,TH to Car,Start,7021,0,0,0.0,,0,0,0,0.0
24,3,TH to Car,car,7156,135,0,1.2,,0,20,25,0.4
25,3,TH to Car,End,7155,0,0,0.0,,0,0,0,0.0
26,3,TH to Car,EOD,7155,0,0,0.0,,0,0,0,0.0

In [8]:
pd.DataFrame(trip)

   start_latlon  start_elevation
0      36.03252             7350
1    -111.85212             7350

In [9]:
df.groupby('segment', sort=False).agg({'segment','last'})

,day,segment,waypoint,elevation,aeg,ael,distance,notes,break_time,pace,duration,hours
0,1,Tanner,Start,7350,0,0,0.000000,,0,0,0,0.000000
1,1,Tanner,picture view points,5217,333,-2466,3.560000,,30,42,151,3.016667
2,1,Tanner,End,2684,81,-2613,3.300000,,0,41,137,2.283333
3,1,d-1b,Start,2687,0,0,0.000000,,0,0,0,0.000000
4,1,d-1b,overlook,2685,68,-70,0.650000,Basalt ck riffle,0,24,16,0.266667
5,1,d-1b,water,2646,124,-163,1.900000,,0,21,41,0.683333
6,1,d-1b,camp,2642,0,-3,0.014962,day 1,0,0,0,0.000000
7,1,d-1b,End,2641,0,0,0.026326,,0,0,0,0.000000
8,1,d-1b,EOD,2641,0,0,0.000000,,0,0,0,0.000000
9,2,d-2a,Start,2641,0,0,0.000000,,0,0,0,0.000000
10,2,d-2a,cliff,3752,1188,-78,2.770000,,0,40,113,1.883333
11,2,d-2a,water,2615,311,-1447,2.690000,,20,39,106,2.100000
12,2,d-2a,Seventfive Mile Creek,2838,291,-69,0.830000,,0,37,31,0.516667
13,2,d-2a,water,2614,29,-252,0.560000,,0,32,18,0.300000
14,2,d-2a,Papago wall,2650,203,-168,0.750000,,30,37,28,0.966667
15,2,d-2a,Papago slide,2798,153,-5,0.111742,,60,89,10,1.166667
16,2,d-2a,water,2591,100,-307,0.690000,,0,36,25,0.416667
17,2,d-2a,camp,2569,0,-22,0.079924,day 2,0,25,2,0.033333
18,2,d-2a,End,2546,0,-23,0.108523,,0,18,2,0.033333
19,2,d-2a,EOD,2546,0,0,0.000000,,0,0,0,0.000000
20,3,d-3,Start,2591,0,0,0.000000,,0,0,0,0.000000
21,3,d-3,"water, maybe",3238,648,0,1.550000,,0,40,63,1.050000
22,3,d-3,End,7024,4058,-272,3.930000,,0,71,281,4.683333
23,3,TH to Car,Start,7021,0,0,0.000000,,0,0,0,0.000000
24,3,TH to Car,car,7156,135,0,1.240000,,0,20,25,0.416667
25,3,TH to Car,End,7155,0,0,0.017992,,0,0,0,0.000000
26,3,TH to Car,EOD,7155,0,0,0.000000,,0,0,0,0.000000

## Timeline

In [4]:
times_df, meta = tl.timeline(df, trip, 
                             start_time=dt.datetime.fromisoformat('2025-09-23'),
                             morning_daylight=1.5,
                             evening_daylight=4.0,
                             include_dt=False)
display(trip)
display(meta)
with pd.option_context("display.max_columns", None):
    display(times_df.round(1))

AttributeError: 'Series' object has no attribute 'duration'

## Summary by day

In [ ]:
day_totals = df.groupby('day').agg({c:'sum' for c in ['distance','break_time','hours','aeg','ael']})
day_totals.round(1)

## Distance per segment (miles)

In [ ]:
pivot_df = df.pivot_table(index='day', columns=['segment'], aggfunc='sum', values='distance')
pivot_df.round(1)

In [ ]:
df